html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.body {
  background: #3a8cb4;
  background: linear-gradient(90deg, #4c3ab4 0%, #731dfd 54%, #7645fc 100%);
  margin: 20px; }

.main {
  display: grid;
  grid-template-areas: "header header header"
 "section article aside"
  "footer footer footer";
  grid-template-columns: 300px 1fr 200px;
  column-gap: 30px;
  row-gap: 70px; }

.header {
  grid-area: header;
  grid-column-start: 1;
  grid-column-end: 4;
  text-shadow: 2px 2px 0 #360407;
  color: blanchedalmond;
  text-align: center; }

.section {
  grid-area: section;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: end; }
  .section__picture {
    border-radius: 50%; }
  .section__title {
    color: blanchedalmond; }
    .section__title::before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 10px;
      background: rgba(2, 1, 1, 0.178); }

.article {
  grid-area: article;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 130%;
  color: blanchedalmond;
  padding: 70px; }
  .article__story {
    padding: 200 px; }

.aside {
  grid-area: aside;
  color: blanchedalmond; }
  .aside__link {
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px; }
    .aside__link::before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 10px;
      background: rgba(2, 1, 1, 0.178); }

.footer {
  min-height: 30vh;
  grid-area: footer;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  align-items: center;
  justify-content: center; }

.footer__logos {
  padding-left: 19px; }

@media (min-width: 420px) {
  .navigation__link {
    color: blanchedalmond;
    padding: 5px 10px;
    border-radius: 4px 8px;
    display: flex;
    justify-content: center;
    text-decoration: none; }
    .navigation__link--homepage {
      color: red; } }
