.body {
  background-color: rgb(30, 85, 156);
}

h1,
h2 {
  text-shadow: 2px 2px 0 #360407;
  color: blanchedalmond;
  text-align: center;
}
.navigation__link {
  color: blanchedalmond;
  padding: 5px 10px;
  border: 2px solid;
  border-radius: 4px 8px;
}
.picture {
  width: 400px;
  height: 300px;
  display: inline-block;
  padding:20px ;
  margin: 20px;
  
background: rgb(255,255,255,0.2);
}
.secondary__picture {
  width: 400px;
  height: 300px;
  display: inline-block;
  padding:20px ;
  margin: 20px;
  
  background: rgb(255,255,255,0.2);
}
.section {
  width: 1200px;
}
img{
  border-radius: 70px 40px;
  
}
footer{
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#foto{
  border-radius: 40px 70px;
  
  
}


